$color_1: #ffffff;
$color_2: var(--dark);
$color_3: var(--primary);
$font-family_1: "Jost", sans-serif;
$border-color_1: var(--secondary);
$border-color_2: var(--primary);
$color_11: #909090;
$color_22: #d2d2d2;
$color_33: #666;
$color_44: #fff;
$color_21: #ffffff;
$color_32: #1d3557;
$background-color_1: #ffffff;
$background-color_2: #d1def0;
$background-color_3: #1d3557;
